<mat-card class="h-fit" appearance="outlined">
    <mat-card-header class="m-3 ">
            <p class="text-center w-full font-bold text-2xl"> {{getOfferType(ofertTitle)}}</p>
    </mat-card-header>
    <mat-card-content class="ml-5 mr-5">
        <p class="text-sm text-center">Plan para empresas que comienzan a despegar</p>
        <div class="text-center mt-5 ms-20 me-20">
            <p class="p-1 text-gray-500 line-through">MX $ {{offertData.price}} -</p>
            <p class="font-bold text-blue-400 bg-blue-100 p-1 rounded-2xl ">AHORRA {{offertData.discount}}%</p>
        </div>

        <div class="flex justify-center mt-4">
            <p>MX $</p>
            <p class="text-5xl font-bold">{{getFinalPrice(offertData.price, offertData.discount)}}</p>
            <p>/mes</p>
        </div>

        <div class="text-sm text-gray-600 ms-20 me-20 -mt-5">

            <div class="flex" *ngFor="let detail of offertData.details">
                <mat-icon class="text-green-500 text-sm">done_outline</mat-icon> 
                <p>
                    {{detail.val1}}
                    <b *ngIf="detail.val2bold != ''">{{" " + detail.val2bold}}</b>
                    {{detail.val3}}
                    <b *ngIf="detail.val4bold != ''">{{" " + detail.val4bold}}</b>
                </p>
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer class="ml-16 mr-16 pb-3 mt-3">
        <button class="w-full" mat-flat-button>Elegir plan</button>
    </mat-card-footer>
</mat-card>
