<div class="w-full h-full bg-cover flex items-center">


    <img class="w-full h-full object-cover absolute -z-10 top-0"
        src="https://images.unsplash.com/photo-1556742393-d75f468bfcb0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="none" srcset="">
        <!-- headerPosition="below"-->
    <mat-card class="login-card left-7 min-h-96" appearance="outlined">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >
            <mat-tab label="Iniciar Sesión">
    
                <mat-card  class="">
                    <mat-card-header class="w-full mb-10 flex items-center justify-center text-2xl">
                        <mat-card-title>Bienvenido</mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content class="w-full flex items-center justify-center">
                        <form [formGroup]="loginForm" class="w-4/5 m-auto">
    
                            <mat-form-field class="block w-full " appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email">
                                <span mat-icon-button matSuffix class="mr-2">
                                    <mat-icon>email</mat-icon>
                                </span>
                            </mat-form-field>
    
                            <mat-form-field class="block w-full" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [type]="hide() ? 'password' : 'text'" matInput formControlName="password">
                                <button mat-icon-button matSuffix (click)="passwordEyeHandler($event)"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
    
                            <mat-checkbox >Recordarme</mat-checkbox>

                            <mat-card-actions class="w-full flex items-center justify-center mb-4 mt-3">
                                <button class="w-full" mat-flat-button (click)="login()">Entrar</button>
                            </mat-card-actions>
    
                        </form>
                    </mat-card-content>
                </mat-card>
    
            </mat-tab>
    
            <mat-tab label="Registarse">
    
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    


</div>